include template/head.jade

include template/header.jade

// Navigation
nav#navigation.fixed
    .nav.nav-wrapper
        a.button-collapse(href="#" data-activates="mobile-demo")
        i.material-icons menu
        ul.left.hide-on-med-and-down
            each item in menu
                li
                    a(href="#{item.link}")
                        i.material-icons.md-light #{item.icon}
                            span #{item.name}
                            
        ul#mobile-demo.side-nav
            each item in menu
                li
                    a(href="#{item.link}") #{item.name}

// About
section#about.about.white
    .container
        .row
            .text-about
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
        .row
            .col.s12.m7.l8
                .workspace
                    
            .col.s12.m5.l4
                .box-about
                    .center-top
                        img.circle.responsive-img(src='img/avatar.jpg', alt='')
                    ul
                        li
                            strong Name
                            |  Bourreau Valentin
                        li
                            strong Birthday
                            |  26 Avril 2016
                        li
                            strong Address
                            |  Nantes, France
                        li
                            strong Website
                            |  Vatioa.com
                    .center-bottom
                        a.waves-effect.waves-light.btn.indigo.lighten-1
                            i.material-icons.right file_download
                            | Télécharger le CV
                            
// Skill        
section#skill.white
    .container
        .row
            each item in skill
                .col.s12.m6.l3
                    .box-skill
                        .head-box-skill
                            .center-top-skill
                                img(src="img/skill/#{item.icon}.svg")
                            h3 #{item.name}
                        .item-box-skill
                            ul
                                each tech in item.techno
                                    li
                                        .row
                                            .col.s12.l3 
                                                .align-center
                                                    strong #{tech.icon}
                                            .col.s12.l9 
                                                | #{tech.name}
                                                .progress
                                                    .determinate(style="width: 70%")
                                                    
// 
section.white
    .container
        .row
            .col.s12.m6.l6
                .case
                    .title3
                        | Enseignements
                        .row
                            .col.s12.m12.l12
                                .title-icon
                                    i.fa.fa-graduation-cap
                    .row.experience
                        .col.s12.m2.l2
                            .year
                            | 2016 
                            hr
                            | 2015
                        .col.s12.m10.l10
                            .desc
                                h4 Licence Pro, Systèmes Informatiques et Logiciels
                                p.subtitle Université de Nantes
                                p 
                                    | Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.
                    
                    .row.experience
                        .col.s12.m2.l2
                            .year
                            | 2016 
                            hr
                            | 2015
                        .col.s12.m10.l10
                            .desc
                                h4 Licence Pro, Systèmes Informatiques et Logiciels
                                p.subtitle Université de Nantes
                                p 
                                    | Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.
                    
                    .row.experience
                        .col.s12.m2.l2
                            .year
                            | 2016 
                            hr
                            | 2015
                        .col.s12.m10.l10
                            .desc
                                h4 Licence Pro, Systèmes Informatiques et Logiciels
                                p.subtitle Université de Nantes
                                p 
                                    | Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.
        
include template/footer.jade
