doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0") 
        meta(name="description" content="Valentin Bourreau - Présentation, CV, Portfolio. Ce site a été construit à l'aide de MaterializeCSS, Font-Awersome, SASS - Compass, Jade et d'un peu d'imagination. Il est totalement responsive.")
        meta(name="keywords" content="Présentation, CV, Portfolio, Valentin, Bourreau, Valentin Bourreau")
        meta(name="author" content="Valentin Bourreau")
        
        // Favicon
        link(rel="icon" href="img/logo.ico")
        
        //Stylesheet
        link(rel="stylesheet" type="text/css" media="screen,projection" href="css/materialize.min.css")
        link(rel="stylesheet" type="text/css" media="screen,projection" href="css/style.css")
        link(rel="stylesheet" type="text/css" media="screen,projection" href="css/font-awesome/css/font-awesome.min.css")
        
        // Fonts
        link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300")

    body
        header#accueil.parallax-container
            .parallax
                img#banniere(src="img/accueil.jpg" alt="Fond représentation ville divisé en deux pas un ordinateur montrant un paysage de montagne")
    
            .headline
                h2 Valentin <span>Bourreau</span>
                h3 DEVELOPPEUR FRONT-END & BACK-END
                
            .row
                .col.s12
                    #expand
                        a(href="#about")
                            i(id="white" class="fa fa-angle-double-down fa-3x")
            
            .row
                .col.s12
                    #social
                        each social in ["facebook", "twitter", "linkdin", "github", "skype"]
                            a(href="index.php")
                                i#white(class="fa fa-#{social} fa-3")
        
        .fixed
            nav#navigation
                .nav.nav-wrapper
                    a.button-collapse(href="#" data-activates="mobile-demo")
                    i.material-icons menu
                    ul.left.hide-on-med-and-down
                        each item in menu
                            li
                                a(href="#{item.link}")
                                    i.material-icons.md-light #{item.icon}
                                        span #{item.name}
                                        
                    ul#mobile-demo.side-nav
                        each item in menu
                            li
                                a(href="#{item.link}") #{item.name}
        
        section#about
            .container
                .row
                
        section#skill
            .container
                .row
                    each item in skill
                        .col.s12.m6.l4
                            .skill-category
                                .center-align
                                    .title3
                                        h3 #{item.name}
                                            each tech in item.techno
                                                h4 #{tech.name}
                                                h5 #{tech.icon}
                    
                    
                    
                    
                    
